<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spam.persistence.ScheduleMapper">
	<resultMap id="scheduleResultMap" type="schedule">
		<id column="SCHEDULE_NO" property="scheduleNo"/>
		<result column="ID" property="id"/>
		<result column="REASON" property="reason"/>
		<result column="BEGIN" property="begin"/>
		<result column="FINISH" property="finish"/>
		<result column="MON" property="mon"/>
		<result column="TUE" property="tue"/>
		<result column="WED" property="wed"/>
		<result column="THUR" property="thur"/>
		<result column="FRI" property="fri"/>
		<result column="QUARTER" property="quarter"/>
		<result column="NAME" property="name"/>
	</resultMap>

	<select id="list" parameterType="schedule" resultMap="scheduleResultMap">
		SELECT s.SCHEDULE_NO
			  ,s.ID
              ,f.NAME
			  ,s.REASON
			  ,s.BEGIN
			  ,s.FINISH
			  ,s.MON
			  ,s.TUE
			  ,s.WED
			  ,s.THUR
			  ,s.FRI
			  ,s.QUARTER
		FROM SCHEDULE s, SPAM_USER f
        WHERE s.ID = f.ID
			
				<if test="begin != null and begin !=''">
					AND TO_DATE(#{begin}, 'YYYY/MM/DD') BETWEEN s.BEGIN AND s.FINISH
					
				</if>
				<if test="finish != null and finish !=''">
					AND TO_DATE(#{finish}, 'YYYY/MM/DD') BETWEEN s.BEGIN AND s.FINISH
				</if>
				<if test="mon != null and mon != ''">
					AND s.MON LIKE '%'|| #{mon}||'%'
				</if>
				<if test="tue != null and tue != ''">
					AND s.TUE LIKE '%'|| #{tue} ||'%'
				</if>
				<if test="wed != null and wed != ''">
					AND s.WED LIKE '%'|| #{wed} ||'%'
				</if>
				<if test="thur != null and thur != ''">
					AND s.THUR LIKE '%'|| #{thur} ||'%'
				</if>
				<if test="fri != null and fri != ''">
					AND s.FRI LIKE '%'|| #{fri} ||'%'
				</if>
				<if test="id >0">
					AND s.ID = #{id}
				</if>
				<if test="name != null and name !=''">
					AND f.NAME = #{name}				
				</if>
				<if test="date !=null and date !=''">
					AND TO_DATE(#{date}, 'YYYY/MM/DD') BETWEEN s.BEGIN AND s.FINISH
				</if>
		ORDER BY s.BEGIN ASC
	</select>
	
	<insert id="insert" parameterType="schedule">
		<selectKey keyColumn="SCHEDULE_NO" keyProperty="scheduleNo" resultType="int" order="BEFORE">
			SELECT SCHEDULE_SEQ.NEXTVAL
			FROM DUAL
		</selectKey>
		INSERT INTO SCHEDULE
			(SCHEDULE_NO, ID, REASON, BEGIN, FINISH, MON, TUE, WED, THUR, FRI, QUARTER)
		VALUES
			(#{scheduleNo}, #{id}, #{reason},TO_DATE(#{begin}),TO_DATE(#{finish}), #{mon}, #{tue}, #{wed}, #{thur}, #{fri}, #{quarter})
	</insert>
	
	<select id="select" parameterType="schedule" resultMap="scheduleResultMap">
		SELECT SCHEDULE_NO
			  ,ID
			  ,REASON
			  ,BEGIN
			  ,FINISH
			  ,MON
			  ,TUE
			  ,WED
			  ,THUR
			  ,FRI
			  ,QUARTER
		FROM SCHEDULE
	
					
			<where>
				<if test="scheduleNo > 0">
					AND SCHEDULE_NO = #{scheduleNo}
				</if>
				<if test="quarter = 0">
					AND QUARTER = #{quarter}
				</if>
				<if test="mon != null and mon != ''">
					AND MON = #{mon}
				</if>
				<if test="tue != null and tue != ''">
					AND TUE = #{tue}
				</if>
				<if test="wed != null and wed != ''">
					AND WED = #{wed}
				</if>
				<if test="thur != null and thur != ''">
					AND THUR = #{thur}
				</if>
				<if test="fri != null and fri != ''">
					AND FRI = #{fri}
				</if>
			</where>
		ORDER BY BEGIN ASC
	</select>
	
	<update id="update" parameterType="schedule">
        UPDATE SCHEDULE
        <set>
            <if test="begin != null and begin != ''">BEGIN = TO_DATE(#{begin}),   </if>
            <if test="finish != null and finish != ''">FINISH = TO_DATE(#{finish}),   </if>
             <if test="reason != null and reason != ''" >REASON = #{reason}, </if>
             <if test="mon != null and mon != ''" >MON = #{mon}, </if>
             <if test="tue != null and tue != ''" >TUE = #{tue}, </if>
             <if test="wed != null and wed != ''" >WED = #{wed}, </if>
             <if test="thur != null and thur != ''" >THUR = #{thur}, </if>
             <if test="fri != null and fri != ''" >FRI = #{fri}, </if>
             
        </set>
        WHERE  SCHEDULE_NO = #{scheduleNo}
    </update>
    
	<delete id="delete" parameterType="schedule">
		DELETE FROM SCHEDULE
        WHERE SCHEDULE_NO = #{scheduleNo}
	</delete>
</mapper>