<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spam.persistence.ScheduleMapper">
	<resultMap id="scheduleResultMap" type="schedule">
		<id column="SCHEDULE_NO" property="scheduleNo"/>
		<result column="ID" property="id"/>
		<result column="REASON" property="reason"/>
		<result column="BEGIN" property="begin"/>
		<result column="FINISH" property="finish"/>
		<result column="MON" property="mon"/>
		<result column="TUE" property="tue"/>
		<result column="WED" property="wed"/>
		<result column="THUR" property="thur"/>
		<result column="FRI" property="fri"/>
		<result column="QUARTER" property="quarter"/>
	</resultMap>

	<select id="list" parameterType="schedule" resultMap="scheduleResultMap">
		SELECT SCHEDULE_NO
			  ,ID
			  ,REASON
			  ,BEGIN
			  ,FINISH
			  ,MON
			  ,TUE
			  ,WED
			  ,THUR
			  ,FRI
			  ,QUARTER
		FROM SCHEDULE
			<where>
				<if test="begin != null and begin !=''">
					AND BEGIN BETWEEN TO_DATE(#{begin}, 'YYYY/MM/DD') AND TO_DATE(#{finish}, 'YYYY/MM/DD')
				</if>
				<if test="mon != null and mon != ''">
					AND MON LIKE '%'|| #{mon}||'%'
				</if>
				<if test="tue != null and tue != ''">
					AND TUE LIKE '%'|| #{tue} ||'%'
				</if>
				<if test="wed != null and wed != ''">
					AND WED LIKE '%'|| #{wed} ||'%'
				</if>
				<if test="thur != null and thur != ''">
					AND THUR LIKE '%'|| #{thur} ||'%'
				</if>
				<if test="fri != null and fri != ''">
					AND FRI LIKE '%'|| #{fri} ||'%'
				</if>
				<if test="id >0">
					AND ID = #{id}
				</if>
			
			</where>
		ORDER BY BEGIN ASC
	</select>
	
	<insert id="insert" parameterType="schedule">
		<selectKey keyColumn="SCHEDULE_NO" keyProperty="scheduleNo" resultType="int" order="BEFORE">
			SELECT SCHEDULE_SEQ.NEXTVAL
			FROM DUAL
		</selectKey>
		INSERT INTO SCHEDULE
			(SCHEDULE_NO, ID, REASON, BEGIN, FINISH, MON, TUE, WED, THUR, FRI, QUARTER)
		VALUES
			(#{scheduleNo}, #{id}, #{reason},TO_DATE(#{begin}),TO_DATE(#{finish}), #{mon}, #{tue}, #{wed}, #{thur}, #{fri}, #{quarter})
	</insert>
	
	<select id="select" parameterType="schedule" resultMap="scheduleResultMap">
		SELECT SCHEDULE_NO
			  ,ID
			  ,REASON
			  ,BEGIN
			  ,FINISH
			  ,MON
			  ,TUE
			  ,WED
			  ,THUR
			  ,FRI
			  ,QUARTER
		FROM SCHEDULE
	
					
			<where>
				<if test="scheduleNo > 0">
					AND SCHEDULE_NO = #{scheduleNo}
				</if>
				<if test="quarter = 0">
					AND QUARTER = #{quarter}
				</if>
				<if test="mon != null and mon != ''">
					AND MON = #{mon}
				</if>
				<if test="tue != null and tue != ''">
					AND TUE = #{tue}
				</if>
				<if test="wed != null and wed != ''">
					AND WED = #{wed}
				</if>
				<if test="thur != null and thur != ''">
					AND THUR = #{thur}
				</if>
				<if test="fri != null and fri != ''">
					AND FRI = #{fri}
				</if>
			</where>
		ORDER BY BEGIN ASC
	</select>
	
	<update id="update" parameterType="schedule">
        UPDATE ADVICE
        <set>
            <if test="assentNo != null and period != ''">ASSENT_NO = #{assentNo},   </if>
            <if test="cause != null and cause != ''">CAUSE = #{cause},	     </if>
             <if test="assentDate != null and assnetDate != ''" >ASSENT_DATE = #{assentDate}, </if>
        </set>
        WHERE  ADVICE_NO = #{adviceNo}
    </update>
    
	<delete id="delete" parameterType="schedule">
		DELETE FROM ADVICE
        WHERE ADVICE_NO = #{adviceNo}
	</delete>
</mapper>
