<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.spam.persistence.SpamUserMapper">
	<resultMap id="spamuserResultMap" type="spamuser">
		<id column="ID" property="id" />
		<result column="PASSWORD" property="passWord" />
		<result column="POWER" property="power" />
		<result column="NAME" property="name" />
		<result column="GRADE" property="grade" />
		<result column="MAJOR" property="major" />
		<result column="PHONE_NO" property="phoneNo" />
		<result column="BIRTH_DATE" property="birthDate" />
		<result column="OFFICE" property="office" />
		<result column="EMP_FORM" property="empForm" />
		<result column="GR_FORM" property="grForm" />
		<result column="CARD_NO" property="cardNo" />
		<result column="ENROLLMENT" property="enrollment" />
	</resultMap>

	<select id="select" parameterType="spamuser" resultMap="spamuserResultMap">
		SELECT   ID
			   , PASSWORD
			   , POWER
			   , NAME 
			   , GRADE
			   , MAJOR
			   , PHONE_NO
			   , BIRTH_DATE
			   , OFFICE
			   , EMP_FORM
			   , GR_FORM
			   , CARD_NO
			   , ENROLLMENT
		FROM SPAM_USER
		<where>
			<if test="id != null and id !=''">
				AND ID = #{id}
			</if>
			<if test="passWord != null and passWord != ''" >
				AND PASSWORD = #{passWord}
			</if>
			<if test="power != null and power != ''">
				AND POWER = #{power}
			</if>
			<if test="name != null and name != ''" >
				AND NAME = #{name}
			</if>
			<if test="birthDate != null and birthDate != ''">
				AND BIRTH_DATE = #{birthDate}
			</if>
			<if test="office != null and office != ''">
				AND OFFICE = #{office}
			</if>
			<if test="empForm != null and empForm != ''">
				AND EMP_FORM = #{empForm}
			</if>
			<if test="grForm != null and grForm != ''">
				AND GR_FORM = #{grForm}
			</if>
			<if test="cardNo != null and cardNo != ''">
				AND CARD_NO = #{cardNo}
			</if>
			<if test="enrollment != null and enrollment != ''">
				AND ENROLLMENT = #{enrollment}
			</if>
		</where>
	</select>
	<select id="list" parameterType="spamuser" resultMap="spamuserResultMap">
		SELECT   ID
			   , PASSWORD
			   , POWER
			   , NAME 
			   , GRADE
			   , MAJOR
			   , PHONE_NO
			   , BIRTH_DATE
			   , OFFICE
			   , EMP_FORM
			   , GR_FORM
			   , CARD_NO
			   , ENROLLMENT
		FROM SPAM_USER
	</select>
	<update id="update" parameterType="spamuser" >
		UPDATE SPAM_USER 
		<set>
			<if test="passWord != null and passWord != ''" >
				PASSWORD = #{passWord},
			</if>
			<if test="power != null and power != ''">
				POWER = #{power},
			</if>
			<if test="grade != null and grade != ''">
				GRADE = #{grade},
			</if>
			<if test="phoneNo != null and phoneNo != ''" >
				PHONE_NO = #{phoneNo},
			</if>
			<if test="name != null and name != ''" >
				NAME = #{name},
			</if>
			<if test="birthDate != null and birthDate != ''">
				BIRTH_DATE = #{birthDate},
			</if>
			<if test="office != null and office != ''">
				OFFICE = #{office},
			</if>
			<if test="empForm != null and empForm != ''">
				EMP_FORM = #{empForm},
			</if>
			<if test="grForm != null and grForm != ''">
				GR_FORM = #{grForm},
			</if>
			<if test="cardNo != null and cardNo != ''">
				CARD_NO = #{cardNo},
			</if>
			<if test="enrollment != null and enrollment != ''">
				ENROLLMENT = #{enrollment},
			</if>
		</set>
		WHERE 
		    ID = #{id}
	</update>
	<update id="insert" parameterType="spamuser">
		INSERT INTO SPAM_USER 
		(ID, PASSWORD, POWER, NAME, GRADE, MAJOR, PHONE_NO, BIRTH_DATE, OFFICE, EMP_FORM, GR_FORM, CARD_NO, ENROLLMENT)
		VALUES (#{id}
			   ,#{passWord}
			   ,#{power}
			   ,#{name}
			   ,#{grade}
			   ,#{major}
			   ,#{phoneNo}
			   ,#{birthDate}
			   ,#{office}
			   ,#{empForm}
			   ,#{grForm}
			   ,#{cardNo}
			   ,#{enrollment}
		)
	</update>
	
</mapper>