<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spam.persistence.TimeTableMapper">
	<resultMap id="timeTableResultMap" type="timeTable">
		<id column="PERIOD" property="period"/>
		<result column="BEGIN" property="begin"/>
		<result column="FINISH" property="finish"/>
	</resultMap>

	<select id="list" parameterType="timeTable" resultMap="timeTableResultMap">
		SELECT PERIOD
			  ,BEGIN
			  ,FINISH
			  FROM TIMETABLE2 
		<where>
			<if test="period != null and period != ''">
				AND PERIOD LIKE '%'|| #{period} || '%'
			</if>
		</where>
		ORDER BY PERIOD ASC  
	</select>
	
	<insert id="insert" parameterType="timeTable">
		INSERT INTO TIMETABLE2
		(PERIOD,BEGIN,FINISH)
		VALUES(#{period}, #{begin}, #{finish})
	</insert>
	
	<select id="select" parameterType="timeTable" resultMap="timeTableResultMap">
		SELECT PERIOD
			  ,BEGIN
			  ,FINISH
			  FROM TIMETABLE2 
		<where>
			<if test="period > 0">
				AND PERIOD = #{period}
			</if>
		</where>
	</select>
	
	<update id="update" parameterType="timeTable">
        UPDATE TIMETABLE2
        <set>
            <if test="period != null and period != ''">PERIOD = #{period},   </if>
            <if test="begin != null and begin != ''">BEGIN = #{begin},	     </if>
             <if test="finish != null and finish != ''" >FINISH = #{finish}, </if>
        </set>
        WHERE  PERIOD = #{period}
    </update>
	
</mapper>
